<h1 class="show-heading">Title: <%= @article.title%></h1>

<div class="well col-xs-8 col-xs-offset-2 alert alert-secondary">
  <h4 class="center">Created by:</h4>
  <p class="center"><%= @article.user.username%></p>
  <h4 class="center"><strong>Description:</strong></h4>
  <p class="center"><%= @article.description%></p>
</div>

<div class="well col-xs-8 col-xs-offset-2 d-flex flex-column justify-content-center align-items-center">
  <%= link_to 'Edit this article', edit_article_path(@article), class: 'btn btn-primary m-1'%>
  <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'%></td>
  <%=link_to 'Go back', articles_path, class: 'btn btn-primary m-1'%>
</div>

